{% include 'include-faq' %}

{% schema %}
{
  "name": "FAQ",
  "class": "FAQ jsFAQ shopify-section--faq",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "FAQ"
    }
  ],
  "blocks": [
    {
      "name": "Frequently Asked Question",
      "type": "content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Provide the answer to the question here.</p>"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "Heading",
          "default": "Section heading"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1000 x 1000px recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Store information",
      "blocks": [
        {
          "type": "heading",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {

          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "heading",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "content",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}
