{% include 'include-featured-text' %}

{% schema %}
  {
    "name": "Rich text and image",
    "class": "shopify-section--rich-text-and-image",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner image",
        "info": "1800 x 800px recommended"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile banner image",
        "info": "Display a different image on mobile screens. This only appears when the desktop image is set."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "featured_text",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "presets": [
      {
        "name": "Rich text and image",
        "category": "Text"
      }
    ]
  }
{% endschema %}
