@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Covered+By+Your+Grace&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.shopify-section--header .header .main-nav__wrapper{
	background-color: #ffffff;
}
.shopify-section--header .header .main-nav__wrapper .main-nav {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.shopify-section--header .header .main-nav__wrapper .main-nav .box_Nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.shopify-section--header .header .main-nav__wrapper .main-nav .box_Nav .nav {
  display: flex;
  flex: 0 0 auto;
  width: auto;
}

.shopify-section--header .header .main-nav__wrapper .main-nav .box_Nav .header__logo.logo--image {
  display: flex;
  flex: 1 0 19%;
  justify-content: center;
  max-width: max-content;
  margin: 0;
}


.one-whole .position-center {
  max-width: inherit;
  padding: 7%;
}
.one-whole .position-center {
  text-align: left;
}
.one-whole .align-center{
  text-align: left;
  max-width: 100%;
  padding: 15px;
  display: block;
}
.one-whole .align-center .headline{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 29px;
  color: #000;
  margin-top: 0;
  font-family: Open Sans
}
.one-whole .align-center .subtitle{
  margin-bottom: 30px;
}
.one-whole .align-center .subtitle p{
  font-size: 21px;
  margin-bottom: 5px;
  color: #000;
  margin-top: 0;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  text-transform: initial;
}
.one-whole .align-center .subtitle p:last-child{
  margin-bottom: 0;
}
.one-whole .align-center .subtitle p em{
  color: rgb(255, 0, 96);
  font-style: normal;
}
.one-whole .align-center .button-grid-container{
  grid-gap: 50px;
  grid-auto-columns: auto;
}
.one-whole .align-center .button-grid-container .global-button{
  border-radius: 0;
  padding: 12px 27px;
  font-size: 20px;
  border-style: none;
  border-image: initial;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}
.one-whole .align-center .button-grid-container .first_button{
  color: #fff;
  background-color: #ff0060;
  width: auto;
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
}
.one-whole .align-center .button-grid-container .second_button{
  color: #000;
  background-color: rgb(0 242 98);
  width: auto;
  font-size: 20px;
  font-family: 'Assistant', sans-serif;
}
.one-whole .align-center .button-grid-container .second_button:hover,
.one-whole .align-center .button-grid-container .first_button:hover{
  background-color: #000;
  color: #fff;
}
/*newsletter*/
.shopify-section--newsletter .is-width-wide .newsletter_section{
  padding-top: 85px;
  padding-bottom: 85px;
  background: rgb(255 0 96);
}
.shopify-section--newsletter .is-width-wide .newsletter_section .section_form{
  padding: 15px;
  margin: 0;
}
.shopify-section--newsletter .is-width-wide .newsletter_section .section_form h2{
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.8;
}
.shopify-section--newsletter .is-width-wide .newsletter_section .section_form .newsletter-text p{
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
}
.shopify-section--newsletter .newsletter_section .section_form .newsletter{
  width: 100%;
}
.shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row{
  margin-left: 0px;
  margin-right: 0px;
}
.shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row .contact_email{
  width: 100%;
  border: 2px solid #2d2d2d;
}
.shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row input{
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  outline: 0;
  -webkit-appearance: none;
  margin-bottom: 0;
}
.shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row .newsletter-form__sign-up{
  border: none;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 13px;
  width: auto !important;
  padding: 0 20px !important;
  margin-left: 0;
  border: 2px solid #2d2d2d;
  height: auto;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0;
  font-weight: 300;
}
.page-light-options .shopify-section--newsletter .is-width-wide .newsletter_section{
  padding: 40px 0;
  background: #ab87ff;
  color: #ffffff;
}
.page-light-options .shopify-section--newsletter .is-width-wide .newsletter_section .section_form h2{
  margin-bottom: 14px;
  line-height: 1.5;
  font-family: "Zurich Extended", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  text-transform: lowercase;
}
.page-light-options .shopify-section--newsletter .is-width-wide .newsletter_section .section_form .newsletter-text p{
  margin-bottom: 0;
}
.page-light-options .shopify-section--newsletter .is-width-wide .newsletter_section .section_form .newsletter {
  margin-top: 30px;
}
.page-light-options .shopify-section--newsletter .is-width-wide .newsletter_section .section_form{
  padding: 0 35px;
  margin: 0 auto;
  max-width: 520px;
  width: 100% !important;
  left: 0;
  right: 0;
}
.page-light-options .shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row input{
  margin-left: 6px;
  margin-right: 6px;
  height: 48px;
  border-radius: 2px;
}
.page-light-options .shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row .contact_email{
  border: none;
}
.page-light-options .shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row .global-button{
  background: #05da68;
  color: #fff;
  border: 1px solid #05da68;
  font-weight: 600;
  text-transform: capitalize;
}
.page-light-options .shopify-section--newsletter .newsletter_section .section_form .newsletter .contact-form .input-row .global-button:hover{
  background: rgb(5, 218, 104);
  opacity: 0.8;
}
/*page-fonts-product-size*/
.page-content-whith{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 !important;
  margin-bottom: 90px;
}
.page-content-whith .page__header{
  margin: 35px 0;
  text-align: center;
}
.page-content-whith .page__header .heading{
  margin: 0;
  padding: 0;
  line-height: 1.43;
  color: #141414;
  font-family: "Zurich Extended", sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.page-content-whith .one-whole h2:nth-child(1){
  margin-top: 0;
}
.page-content-whith .one-whole h2{
  margin: 1.55em 0 0.6em;
  color: #141414;
  font-family: "Zurich Extended", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  font-size: 26px;
  text-transform: none;
}
.page-content-whith .one-whole p{
  margin-bottom: 0.7em;
  color: #454545;
  font-weight: 400;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.87em;
}
.page-content-whith .one-whole img{
  margin: 3em 0;
  width: 100%;
  display: block;
}
.page-content-whith .one-whole  p strong{
  font-weight: 700;
  font-style: normal;
}
.page-content-whith .one-whole  p strong a{
  color: #05da68;
  transition: color .2s ease-in-out;
  text-decoration: underline;			
  text-underline-position: under;
}
.page-content-whith .one-whole  h4{
  margin: 1.9em 0 0.6em;
  color: #141414;
  font-style: normal;
  line-height: 1.7;
  font-size: 21px;
  font-weight: 700;
  padding: 0;
  font-family: "Zurich Extended", sans-serif;
}
.page-content-whith .one-whole p:last-child{
  margin-bottom: 0;
}
.page-content-whith .one-whole p b{
  font-weight: 700;
  font-style: normal;
}
.page-content-whith .one-whole p b i{
  font-style: italic;
}
.page-content-whith .one-whole i li{
  color: #454545;
  font-weight: 400;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.87em;
}
.page-content-whith .one-whole .whith{
  margin-bottom: 0.7em;
  color: #454545;
  font-weight: 400;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.87em;
}
.page-content-whith .one-whole .whith a{
  color: #05da68;
  transition: color .2s ease-in-out;
  text-underline-position: under;
  text-decoration: underline;
}
.page-content-whith .one-whole .elementor-text-editor p a{
  color: #05da68;
  transition: color .2s ease-in-out;
  text-underline-position: under;
  text-decoration: underline;
}
.page-content-whith .one-whole .elementor-text-editor ul{
  padding: 0;
  margin: 0 0 0.7em 18px;
  list-style: none;
}
.page-content-whith .one-whole .elementor-text-editor ul li b{
  font-weight: 700;
  font-style: normal;
}
.page-content-whith .one-whole .elementor-text-editor ul li{
  margin-bottom: 5px;
  color: #454545;
  font-weight: 400;
  font-family: "Neuzeit Office Soft Rounded", sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.87em;
  position: relative;
}
.page-content-whith .one-whole .elementor-text-editor ul li a{
  color: #05da68;
  transition: color .2s ease-in-out;
  text-underline-position: under;
  text-decoration: underline;
}
.page-content-whith .one-whole .elementor-text-editor ul li a span{
  color: #05da68;
  transition: color .2s ease-in-out;
  text-underline-position: under;
  text-decoration: underline;
}
.page-content-whith .one-whole .elementor-text-editor ul li:before{
  position: absolute;
  content: "";
  left: -18px;
  top: 0.8em;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: #bdbbbb;
}
.page-content-whith .one-whole .elementor-text-editor p span em b{
  color: #2b00ff;
}
.page-content-whith .one-whole h3{
  margin: 1.8em 0 0.8em;
  color: #141414;
  font-family: "Zurich Extended", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}
